data/npm/package_data_npm_only_depsdev_per_release_results.csv
data/matched_scorecard_mttr.csv
data/npm/package_data_npm_only_depsdev_per_release_results.csv
data/scorecard/scorecard_local_metrics_final.csv
data/collected/*
data/npm/*
data/pypi/*
data/dependency_update_tool/*
*.pyc