data/npm/package_data_npm_only_depsdev_per_release_results.csv
data/matched_scorecard_mttr.csv
data/npm/package_data_npm_only_depsdev_per_release_results.csv
data/scorecard/scorecard_local_metrics_final.csv
data/collected/*
data/npm/*
data/pypi/*
data/dependency_update_tool/*
data/scorecard_with_longitudinal_metrics.csv
data/did_analysis/panel.csv
data/dose_response/data.csv
data/analysis_dataset.csv
data/analysis_dataset_columns.csv
*.pyc
.DS_Store